{% extends "layouts/base.html" %} {% block content %}


<section class="container options-container">
    <h2>Add New Question</h2>
    <form action=" {{ url_for('insert_question') }}" method="POST">
        <div class="form-group row">
            <label for="colFormLabel" class="col-form-label">Please enter new question:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="colFormLabelFirst" name="newQuestionAdd" required>
            </div>
            <div class="col-sm-12">
                <label for="colFormLabel" class="col-form-label">First Answer For PASS:</label>
                <input type="text" class="form-control" id="colFormLabelSecond" name="newAnswerAdd" required>
            </div>
            <div class="col-sm-12">
                <label for="colFormLabel" class="col-form-label">Second Answer For FAIL:</label>
                <input type="text" class="form-control" id="colFormLabelThird" name="newAnswerAddSecond" required>
            </div>


        </div>
        <p class="question-notice">Please note these questions are designed for anyone entering the bakery.</p>
        <div class="form-group row ">
            <div class="col-sm-12 ">
                <button type="submit " class="btn btn-primary btn-block" id="new-question-btn">Save</button>
                <a href="{{ url_for('admin')}}" class="btn btn-danger btn-block">Cancel</a>
            </div>
        </div>
    </form>

</section>




{% endblock %}