{% extends "layouts/base.html" %} {% block content %}


<div class="container options-container">
    <h1 class="dash-header">Visitors on site</h1>
    <form action="{{ url_for('dash_load') }}" method="GET">
        <div class="row">
            {% for visitor in visitors %} {% if visitor.sign_out_timestamp is not defined %}
            <div class="col-sm-4 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{visitor["name"]}}</h5>
                        <p class="card-text"><strong>Company: {{visitor["company"]}}</strong> </p>
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </form>


</div>




{% endblock %}