{% extends "layouts/base.html" %} {% block content %}


<section class="container options-container">
    <h2>Delete Question</h2>
    <h4 class="alert-delete">Please note deleting a record will permanetly remove it from the system.</h4>
    <form action="{{ url_for('delete_question') }}" method="POST">
        <div class="form-group row">
            <label for="dropdown" class="dropdown-visitor" name="question">Please select question you wish to delete:</label>
            <select class="form-control" name="removeQuestion" required>
                    <option disabled selected value></option>
                    {% for question in av_questions %}
                <option value="{{question._id}}">{{question.Question}}</option>
                {% endfor %}
            </select>
            <div class="form-group row ">
                <div class="col-sm-12 ">
                    <button type="submit " class="btn btn-danger btn-block" id="delete-question-btn">Delete Record</button>
                    <a href="{{ url_for('admin')}}" class="btn btn-primary btn-block">Cancel</a>
                </div>
            </div>

    </form>

</section>




{% endblock %}