{% extends "layouts/base.html" %} {% block content %}


<section class="container options-container">
    <h2>Delete Visitor</h2>
    <h4 class="alert-delete">Please note deleting a record will permanetly remove it from the system.</h4>
    <form action="{{ url_for('delete_visitor') }}" method="POST">
        <div class="form-group row">
            <label for="dropdown" class="dropdown-visitor" name="visitorName">Please select visitor you wish to delete:</label>
            <select class="form-control" name="deleteName" required>
                    <option disabled selected value></option>
                    {% for visitor in visitors %}
                <option value="{{visitor._id}}">{{visitor.name}}</option>
                {% endfor %}
            </select>
            <div class="form-group row ">
                <div class="col-sm-12 ">
                    <button type="submit " class="btn btn-danger btn-block" id="delete-visitor-btn">Delete Record</button>
                    <a href="{{ url_for('admin')}}" class="btn btn-primary btn-block">Cancel</a>
                </div>
            </div>

    </form>

</section>




{% endblock %}