{% extends "layouts/base.html" %} {% block content %}


<section class="container options-container" id="sign-in-container">
    <h2 id="sign-in-header">Welcome !</h2>
    <h3 id="sign-in-secondary">Please complete the form below to sign in.</h3>
    <form action="{{ url_for('signin') }}" method="POST">
        <div class="form-group row" id="name-section">
            <label for="colFormLabel" class="col-form-label">Please enter your name:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="colFormLabel" name="visitorName" required>
            </div>
        </div>

        <label for="dropdown" class="dropdown-company" name="visitorCompany">Please select your company from dropdown:</label>
        <select class="form-control" name="visitorCompany" required>
                <option disabled selected value></option>
                {% for comp in contractors %}
                {% if comp.approved == true %}
            <option>{{comp.Name}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <div class="warning-text">
            <p><strong>If your company is not the approved list then please speak to your company representative as they may not be approved.</p></strong>
        </div>
        <div class="form-group row" id="name-section">
            <label for="colFormCompanyEmployee" class="col-form-label">Who are you visiting?</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="colFormCompanyEmployee" name="visitorRepresent" required>
            </div>
        </div>
        <div class="form-group row " id="name-section ">
            <label for="signNameFirst " class="col-form-label ">Company employee sign(ID Checked?)</label>
            <div class="col-sm-12 ">
                <input type="text " class="form-control " id="signNameFirst " name="companyRepresent" required>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Visiting Bakery?</legend>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="true">
                        <label class="form-check-label" for="gridRadios1">
                  Yes
                </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="">
                        <label class="form-check-label" for="gridRadios2">
                  No
                </label>

                    </div>
                </div>
            </div>
        </fieldset>



        <div class="form-group row ">
            <div class="col-sm-12 ">
                <button type="submit " class="btn btn-primary" id="visit-only-btn">Sign in</button>
            </div>
        </div>
    </form>
</section>
<div class="form-questions">
    <form>
        {% include "components/questions.html" %}
    </form>
</div>

<section class="container " id="safety-set ">
    {% include "components/safety-notice.html" %}
</section>



<div class="card " id="contractor-section">
    {% include "components/contractor-notice.html" %}
</div>

<section class="container " id="confirmation-container">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="noticeCheckbox">
        <label class="form-check-label" for="noticeCheckbox">
          I acknowledge i have read all of the above prior to entering site.
        </label>
</section>

{% endblock %}