@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    font-family: 'Lato', sans-serif;
}

.navbar-admin {
    background-color: #4b4848;
    padding-top: 3rem;
    color: #fafafa;
}

.jumbotron {
    background-image: url("/static/img/visitorSystemOne.png");
    height: 300px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-bottom: 1px solid;
    background-color: #42BFE0;
}

.display-4 {
    float: right;
}

.lead {
    float: right;
}

#option-text {
    text-align: center;
    vertical-align: middle;
    background-color: #42BFE0;
}

.navbar-brand img {
    height: 100%;
    margin-right: 20px;
    float: right;
}

#support-contact {
    padding-top: 2rem;
}

#admin-contain {
    background-color: #42BFE0;
    padding-bottom: 2rem;
}

.header-title {
    text-align: center;
}

.card-header {
    text-align: center;
}

.btn-primary {
    background-color: #0069A8;
}

.card-header {
    background-color: #0069A8;
    color: #fafafa;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

#sign-in-header {
    text-align: center;
}

#sign-in-secondary {
    text-align: center;
}

#sign-in-container {
    background-color: #42BFE0;
    padding-bottom: 2rem;
    text-align: justify;
}

.company-logo-header {
    float: right;
}

#name-section {
    text-align: center;
}

#confirmation-container {
    background-color: #42BFE0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}