{% extends 'base.html' %} {% block content %}


<section class="container" id="company-new-container">
    <h2>Add New Questions</h2>
    <form>
        <div class="form-group row">
            <label for="colFormLabel" class="col-form-label">Please enter new question:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="colFormLabelFirst" name="newQuestionAdd" required>
            </div>
        </div>

    </form>

</section>




{% endblock %}