{% extends 'base.html' %} {% block content %}


<body>
    <section class="container" id="admin-contain">
        <h1 class="header-title">Administrator Panel</h1>
        <div class="row" id="main-container">
            <div class="col-md-12 mb-15">
                <div class="card">
                    <h5 class="card-header">Visitors Settings Panel</h5>
                    <div class="card-body">
                        <h5 class="card-title">Visitors Configuration</h5>
                        <p class="card-text">If your not doing any work on the fabric or material of the building sign in as a visitor.</p>
                        <a href="#" class="btn btn-primary">Add New</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="main-container">
            <div class="col-md-12 mb-15">
                <div class="card">
                    <h5 class="card-header">Companys Settings Panel</h5>
                    <div class="card-body">
                        <h5 class="card-title">Company Configuration</h5>
                        <p class="card-text">If your not doing any work on the fabric or material of the building sign in as a visitor.</p>
                        <a href="#" class="btn btn-primary">Add New</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="main-container">
            <div class="col-md-12 mb-15">
                <div class="card">
                    <h5 class="card-header">Questions Settings Panel</h5>
                    <div class="card-body">
                        <h5 class="card-title">Questions Configuration</h5>
                        <p class="card-text">If your not doing any work on the fabric or material of the building sign in as a visitor.</p>
                        <a href="#" class="btn btn-primary">Add New</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>


    </section>
</body>

{% endblock %}