{% extends 'base.html' %} {% block content %}


<div class="container-fluid options-container">
    <form action="{{ url_for('amend_visitor') }}" method="GET">
        <h1 class="mt-4">Visitor & Contractor Dashboard</h1>


        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Visitors On Site:</div>
                    <div class="card-body">
                        {% for visitor in visitors %} {% if visitor.sign_out_timestamp is not defined %}
                        <h2 class="visitCountDash" name="visitorTodayList">{{visitor["name"]}}</h2>
                        {% endif %} {% endfor %}
                        <div class="card-footer small text-muted">{{dateTime}}</div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>




{% endblock %}