{% extends 'base.html' %} {% block content %}


<div class="container-fluid options-container">
    <form action="{{ url_for('amend_visitor') }}" method="GET">
        <h1 class="mt-4">Visitor & Contractor Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Visitors On Site:</div>
                    <div class="card-body">
                        {% for visitor in visitors %} {% if visitor.sign_out_timestamp is not defined %}
                        <h2 class="visitCountDash" name="visitorCountToday">{{visitor["name"]}}</h2>
                        {% endif %} {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Total Count</div>
                    {% for visitor in visitors %} {% if visitor.sign_out_timestamp is not defined %}
                    <div class="visitCountDash" name="visitCountCounter">{{visitor["name"]}}</div>
                    {% endif %} {% endfor %}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Bar Chart Example</div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-pie mr-1"></i>Pie Chart Example</div>
                    <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
    </form>
</div>




{% endblock %}