{% extends 'base.html' %} {% block content %}


<section class="container options-container">
    <h2>Edit Company Details</h2>
    <form action="{{ url_for('amend_visitor') }}" method="POST">
        <div class="form-group row">
            <label for="dropdown" class="dropdown-visitor" name="visitorName">Please select company:</label>
            <select class="form-control" name="chooseName">
                    <option disabled selected value></option>
                    {% for company in contractors %}
                <option value="{{company._id}}" required>{{company.Name}}</option>
                {% endfor %}
            </select>
            <label for="editAddress" class="col-form-label">Company Address:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="colFormVisiting" name="editAddress" required>
            </div>
        </div>


        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label">Company Approved?</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="approveRadios" id="gridRadios1" value="true">
                        <label class="form-check-label" for="gridRadios1">
              Approved
            </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="approveRadios" id="gridRadios2" value="false">
                        <label class="form-check-label" for="gridRadios2">
              Rejected
            </label>

                    </div>
                </div>
            </div>

        </fieldset>



    </form>

</section>




{% endblock %}