{% extends 'base.html' %} {% block content %}


<section class="container options-container">
    <h2>Edit Visitor Details</h2>
    <form action="{{ url_for('amend_visitor') }}" method="POST">
        <div class="form-group row">
            <label for="dropdown" class="dropdown-visitor" name="visitorName">Please select visitors name:</label>
            <select class="form-control" name="chooseName">
                    <option disabled selected value></option>
                    {% for visitor in visitors %}
                    {% if visitor.sign_out_timestamp is not defined %}
                <option value="{{visitor._id}}" required>{{visitor.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="dropdown" class="dropdown-company" name="visitorCompany">Visitor company:</label>
            <select class="form-control" name="visitorCompany">
                    <option disabled selected value></option>
                    {% for company in contractors %}
                <option>{{company.Name}}</option required>
                {% endfor %}
            </select>
            <label for="colFormVisiting" class="col-form-label">Visiting:</label>
            <div class="col-sm-12">

                <input type="text" class="form-control" id="colFormVisiting" name="editVisiting" required>
            </div>
        </div>


        </fieldset>
        <div class="form-group row ">
            <div class="col-sm-12 ">
                <button type="submit " class="btn btn-primary btn-block" id="new-company-btn">Update</button>
                <a href="{{ url_for('admin')}}" class="btn btn-danger btn-block">Cancel</a>
            </div>
        </div>

    </form>

</section>




{% endblock %}