{% extends 'base.html' %} {% block content %}


<section class="container" id="edit-visitor-container">
    <h2>Edit Visitor Details</h2>
    <form action="{{ url_for('edit_visitor') }}" method="POST">
        <div class="form-group row">
            <label for="dropdown" class="dropdown-company" name="visitorCompany">Please select visitors name:</label>
            <select class="form-control" name="visitorCompany">
                    <option disabled selected value></option>
                    {% for visitor in visitors %}
                    {% if visitor.sign_out_timestamp is not defined %}
                <option value="{{visitor._id}}">{{visitor.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="colFormLabel" class="col-form-label">Please select visitor</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="colFormLabelFirst" name="newCompanyName" required>
            </div>
        </div>


        </fieldset>
        <div class="form-group row ">
            <div class="col-sm-12 ">
                <button type="submit " class="btn btn-primary btn-block" id="new-company-btn">Save</button>
                <button type="button" class="btn btn-danger btn-block" href="">Cancel</button>
            </div>
        </div>

    </form>

</section>




{% endblock %}