<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %} {% block content %}
<div class=" jumbotron jumbotron-fluid ">
    <div class="container col-md-6 ">
        <h1 class="display-4 ">traceVMS</h1>
    </div>
    <div class="container col-md-6 ">
        <h1 class="lead ">Visitor & Contract Management System</h1>
    </div>
</div>

<div class="container " id="option-text ">
    <h2>please select an option </h2>


    <div class="row " id="main-container ">
        <div class="col-md-6 mb-5 ">
            <div class="card ">
                <h5 class="card-header ">Sign In</h5>
                <div class="card-body ">
                    <h5 class="card-title ">Visitor & Contractor Sign In</h5>
                    <p class="card-text ">If your not doing any work on the fabric or material of the building sign in as a <strong>visitor</strong>. <br>if <strong> you are</strong> doing any work on the material or fabric of the building sign in as a <strong>contractor</strong>.</p>
                    <a href="{{ url_for('signin') }}" class="btn btn-primary " id="visitor-sign-btn">Sign In</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 mb-5 ">
            <div class="card ">
                <h5 class="card-header ">Sign Out</h5>
                <div class="card-body ">
                    <h5 class="card-title ">Visitor & Contractor Sign Out</h5>
                    <p class="card-text ">All <strong>visitors</strong> and <strong>contractors</strong> must sign out when leaving the site. Thank you for visiting. </p>
                    <a href="{{ url_for('signin') }}" class="btn btn-success " id="contractor-sign-btn">Sign Out</a>
                </div>
            </div>

        </div>
    </div>
</div>

<section class="container " id="support-contact ">
    <div class="col-md-12 mb-5 ">
        <h2 class="secondary ">We're here to help...</h2>
        <hr>
        <address>
      <strong>Tracesense Limited</strong>
      <a href="mailto:# ">info@tracesense.co.uk</a>
    </address>
        <div class="container">
            <img src="/static/img/email-img.png" alt="Tracesense " width="70px" height="80px">
        </div>

    </div>
</section>


<footer class="py-5 bg-dark ">
    <div class="container ">
        <p class="m-0 text-center text-white ">Copyright &copy; 2020 Tracesense Limited<br>Company No:SC648003<br>3 Simpson Road, East Mains Industrial Estate, Broxburn, EH52 5NP</p>
    </div>
    <!-- /.container -->
</footer>

{% endblock %}