{% extends 'base.html' %} {% block content %}

<section class="container" id="sign-out-visitor">
    <h2>Visitor Sign Out</h2>
    <h3>We hope you have enjoyed your visit.</h3>
    <form action="{{ url_for('sign_out_visitor') }}" method="POST">

        <label for="dropdown" class="dropdown-company" name="visitorCompany">Please select your name:</label>
        <select class="form-control" name="signOutName" required>
                <option disabled selected value></option>
                {% for visitor in visitors %}
                {% if visitor.sign_out_timestamp is not defined %}
            <option value="{{visitor._id}}">{{visitor.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <p class="question-notice">Please ensure you have have returned your badge.</p>
        <div class="form-group row ">
            <div class="col-sm-12 ">
                <button type="submit " class="btn btn-primary btn-block" id="sign-out-btn">Sign Out</button>
                <button type="button" class="btn btn-danger btn-block" href="{{url_for ('admin')}}">Cancel</button>
            </div>
        </div>
    </form>

</section>




{% endblock %}