{% extends 'base.html' %} {% block content %}


<section class="container" id="sign-in-container">
    <h2 id="sign-in-header">Welcome !</h2>
    <h3 id="sign-in-secondary">Please complete the form below to sign in.</h3>
    <form action="{{ url_for('add_visitor') }}" method="POST">
        <div class="form-group row" id="name-section">
            <label for="colFormLabel" class="col-form-label">Please enter your name:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="colFormLabel" name="visitorName" required>
            </div>
        </div>

        <label for="dropdown" class="dropdown-company" name="visitorCompany">Please select your company from dropdown:</label>
        <select class="form-control" name="visitorCompany" required>
                <option disabled selected value></option>
            <option>Richmack Markings</option>
                <option>Stevens Traceability</option>
              </select>
        <div class="warning-text">
            <p><strong>If your company is not the approved list then please speak to your company representative.</p></strong>
        </div>
        <div class="form-group row" id="name-section">
            <label for="colFormCompanyEmployee" class="col-form-label">Who are you visiting?</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="colFormCompanyEmployee" name="visitorRepresent" required>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Visiting Bakery?</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="yesOption">
                        <label class="form-check-label" for="gridRadios1">
                  Yes
                </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="noOption">
                        <label class="form-check-label" for="gridRadios2">
                  No
                </label>

                    </div>
                </div>
            </div>

        </fieldset>
        <div class="form-group row ">
            <div class="col-sm-12 ">
                <button type="submit " class="btn btn-primary" id="visit-only-btn">Sign in</button>
            </div>
        </div>

    </form>
</section>


<section class="container " id="questionaire-set">
    <h3 class="header-pointers ">Site visitor & contractor questionnaire</h3>
    <div class="form-group ">
        <label for="exampleFormControlSelect1 " class="header-pointers ">Within the last 3 days have you suffered from vomiting or diarrhoea?</label>
        <select class="form-control " id="exampleFormControlSelect1 ">
            <option value=" " selected disabled>Please select</option>
              <option>Yes</option>
              <option>No</option>
            </select>
        <label for="exampleFormControlSelect2 ">Do you at the present time have a cold or cough?</label>
        <select class="form-control " id="exampleFormControlSelect2 ">
                <option value=" " selected disabled>Please select</option>
              <option>Yes</option>
              <option>No</option>
            </select>
        <label for="exampleFormControlSelect3 ">Are you suffering discharging ears?</label>
        <select class="form-control " id="exampleFormControlSelect3 ">
                <option value=" " selected disabled>Please select</option>
              <option>Yes</option>
              <option>No</option>
            </select>
        <label for="exampleFormControlSelect4 ">Are you at the present time suffering from any skin conditions affecting your hands, forearms, face or neck?</label>
        <select class="form-control " id="exampleFormControlSelect4 ">
                <option value=" " selected disabled>Please select</option>
              <option>Yes</option>
              <option>No</option>
            </select>
        <label for="exampleFormControlSelect5 ">Are you <strong>currently</strong> suffering from, have recently suffered from, or have been in contact with anyone suffering from, an <strong>infectious disease</strong>, or have any symptoms which may relate to an infection, ie high temperature, excessive sweating, open wounds etc.</label>
        <select class="form-control " id="exampleFormControlSelect5 ">
            <option value=" " selected disabled>Please select</option>
              <option>Yes</option>
              <option>No</option>
            </select>
        <label for="exampleFormControlSelect6 ">Are you a carrier of Salmonella?</label>
        <select class="form-control " id="exampleFormControlSelect6 ">
            <option value=" " selected disabled>Please select</option>
              <option>Yes</option>
              <option>No</option>
            </select>
        <label for="exampleFormControlSelect6 ">Have you had typhoid or paratyphoid?</label>
        <select class="form-control " id="exampleFormControlSelect6 ">
            <option value=" " selected disabled>Please select</option>
              <option>Yes</option>
              <option>No</option>
            </select>
        <label for="exampleFormControlSelect6 ">Have you had typhoid or paratyphoid?</label>
        <select class="form-control " id="exampleFormControlSelect6 ">
            <option value=" " selected disabled>Please select</option>
              <option>Yes</option>
              <option>No</option>
            </select>
    </div>

</section>

<section class="container " id="safety-set "></section>
<div class="card ">
    <div class="card-body ">
        <h3 class="header-pointers ">Health & Safety:</h3>
        <p>Visitors are requested to obey the safety signs in place and any additional instructions they may be given by a Paterson Arran employee to ensure the Health & Safety of themselves and others at all times. In the interests of health and safety,
            visitors are advised to only wear flat, fully enclosed shoes with toes and heel covered while in the bakery. Visitor safety shoes and disposable socks are available from Reception. Fire alarm is tested each Friday between 10 and 11am. If the
            fire alarm sounds outside these hours, please leave the building through the nearest fire exit.
        </p>
        <h4 class="header-pointers ">Personal Hygiene:</h4>
        <ul>
            <li>The protective clothing you have been issued must be worn at all times.</li>
            <li>Hands must be washed, dried and sanitised thoroughly upon entering the bakery.</li>
            <li>No wrist watches or jewellery are permitted with the exception of plain wedding ring</li>
            <li>All wounds, however superficial, must be convered with a blue detectable dressing. Your contact can obtain these for you.</li>
            <li>Smoking is strictly forbidden thoroughout the bakery. Smoking is only permitted in the smoking enclosure. It is <strong>absolotely</strong> forbidden to take matches, lighters or any other means of ignition into the bakery.</li>
            <li>Eating is forbidden within the bakery</li>
            <li>This is a 'chew gum free' site. If you have chewing gum, please inform your site contact.</li>
            <li>Any jewellery which needs to be worn for medical purposes must be inspected by your site contact to ensure no risk of product contamination.</li>
            <li>Mobile phones and photographic or recording equipment must be declared to your site contact on arrival.</li>

        </ul>
    </div>
</div>


<div class="card " id="contractor-section">
    <div class="card-body ">
        <h3 class="header-pointers ">Contractors:</h3>
        <p> All contractors carrying out work on this site shall take every precaution to reduce, as far as reasonabily practical, the risk of food contamination and cross contamination of allergens used on site. Every precaution shall be taken to prevent
            injury to others working in, or passing through, the immediate area.
        </p>
        <p>
            It is the responsibility of all contractors working on site to ensure the following:
        </p>
        <ol>
            <li>Surrounding areas of plant must be protected from contamination as necessary.</li>
            <li>Clean protective clothing must be worn at all times; if this becomes dirty ask your site contact for a duplicate set.</li>
            <li>Always use clean tools, clean them after use and before moving to a new production line or factory area. This is to minimise any cross contamination risks.</li>
            <li>On completion of work</li>
        </ol>
        <ul>
            <li>Ensure all potential foreign bodies have been cleared from the area e.g. nuts,bolts,cloths,swarf,etc</li>
            <li>The area must be thoroughly cleaned down.</li>
            <li>All tools must be accounted for and removed.</li>
            <li>All panels and covers must be replaced.</li>
        </ul>
        <p> Any areas worked on must be inspected by your site contact before they can sign off the work and before any production can commence</p>


        <strong>Permit to Work:</strong>
        <p>A permit to work system is in place. All contractors are required to complete “Site Entry Permit” prior to commencing any work on site. Where a work activity involves tasks such as working at height, hot work or entry into a confined space, additional
            permits will also be required. You must not leave site without signing off all PTWs once the work is complete.
        </p>

        <strong>Waste Disposal:</strong>
        <p>Contractors are responsible for ensuring that any waste they generate is removed from the site and disposed of in accordance with the Environmental Protection Act (Duty of Care Regulations 1991). Waste must not be unlawfully disposed of, it must
            be stored appropriately to avoid theft or vandalism, it must only be transferred to an authorised person and must be accompanied by adequate documentation.
        </p>
    </div>
</div>

<section class="container " id="confirmation-container">
    <div class="form-group row " id="name-section ">
        <label for="inputNameSecond " class="col-form-label ">Please enter your name:</label>
        <div class="col-sm-10 ">
            <input type="text " class="form-control " id="inputNameSecond ">
        </div>
    </div>
    <div class="form-group row " id="name-section ">
        <label for="inputDateTime " class="col-form-label ">Please select date & time</label>
        <div class="col-sm-10 ">
            <input type="text " class="form-control " id="inputDateTime ">
        </div>
    </div>
    <div class="form-group row " id="name-section ">
        <label for="signNameFirst " class="col-form-label ">Company employee sign(ID Checked?)</label>
        <div class="col-sm-12 ">
            <input type="text " class="form-control " id="signNameFirst ">
        </div>
    </div>
    <div class="form-group row ">
        <div class="col-sm-12 ">
            <button type="submit " class="btn btn-primary ">Sign in</button>
        </div>
    </div>
</section>

{% endblock %}