 {% block login %}

<body>
    <section class="container" id="admin-password">
        <div class="login-form">
            <img width="330px" height="90px" src="/static/img/TraceSense_RGB_Trans.png"></img>
            <form method=POST action="{{url_for ('adminlogin')}}">
                <h2 class="text-center">Log in</h2>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    <a href="{{ url_for('home')}}" class="btn btn-danger btn-block">Cancel</a>
                </div>

            </form>
            <h2>Please log in to access the administrator panel.</h2>

        </div>


        {% endblock %}