{% block safety %}

<div class="card safety-card">
    <div class="card-body ">
        <h3 class="header-pointers ">Health & Safety:</h3>
        <p>Visitors are requested to obey the safety signs in place and any additional instructions they may be given by a employee to ensure the Health & Safety of themselves and others at all times. In the interests of health and safety, visitors are advised
            to only wear flat, fully enclosed shoes with toes and heel covered while in the bakery. Visitor safety shoes and disposable socks are available from Reception. If the fire alarm sounds outside these hours, please leave the building through
            the nearest fire exit.
        </p>
        <h4 class="header-pointers ">Personal Hygiene:</h4>
        <ul>
            <li>The protective clothing you have been issued must be worn at all times.</li>
            <li>Hands must be washed, dried and sanitised thoroughly upon entering the bakery.</li>
            <li>No wrist watches or jewellery are permitted with the exception of plain wedding ring</li>
            <li>All wounds, however superficial, must be convered with a blue detectable dressing. Your contact can obtain these for you.</li>
            <li>Smoking is strictly forbidden thoroughout the bakery. Smoking is only permitted in the smoking enclosure. It is <strong>absolotely</strong> forbidden to take matches, lighters or any other means of ignition into the bakery.</li>
            <li>Eating is forbidden within the bakery</li>
            <li>This is a 'chew gum free' site. If you have chewing gum, please inform your site contact.</li>
            <li>Any jewellery which needs to be worn for medical purposes must be inspected by your site contact to ensure no risk of product contamination.</li>
            <li>Mobile phones and photographic or recording equipment must be declared to your site contact on arrival.</li>

        </ul>
    </div>

    {% endblock %}